// Lato Font
%latoLight {
  font-family: 'Lato', sans-serif;
  font-style:normal;
  font-weight:300;
}
%latoBold {
  font-family: 'Lato', sans-serif;
  font-style:normal;
  font-weight:700;
}
%latoBlack {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 900;
}

// Monsteraat Font
%monsterLight {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
}
%monsterRegular {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
}
%monsterMedium {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
}