$breakpoints: (
	"large": (
		min-width: 1400px
	),
	"extra": (
		min-width: 1920px
	),
  "super": (
		min-width: 2500px
	)
) !default;

@mixin respond-to($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media #{inspect(map-get($breakpoints, $breakpoint))} {
			@content;
		}
	} @else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}

/* Usage 

@include respond-to('large') { ... }

*/
